<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Total Twenty</title>
</head>
<body>
    <!-- Game screen -->
    <canvas class="game-screen"></canvas>

    <!-- Popup to display winner -->
    <div class="prompt" style="display: none;">
        <h1 class="winner-text">Player 0</h1>
        <button id="lobby-btn" class="btn" style="background-color: lightsalmon;">Lobby</button>
    </div>  
 
    <!-- Socket IO Client -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/animations.js"></script>
    <script src="/javascript/sprites.js"></script>
    <script src="/javascript/game.js"></script>
</body>
</html>