<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <title>Total Twenty - Home</title>
</head>
<body>
    <h1 class="lobby-header">Lobby</h1>
    <div class="content">
        <div class="side-bar">
            <form id="create-game-form">
                <!-- input text -->
                <label for="create-game">Create Game:</label><br>
                <input class="mb-1" type="text" name="create-game" id="create-game"><br>
                
                <!-- Check box -->
                <label class="label-min" for="openId">Open Id:</label>
                <input type="checkbox" name="openId" id="openId"> <br>
                <button type="submit" class="btn">Create</button>
            </form>
            
            <form id="join-game-form">
                <label for="join-game">Join Game:</label><br>
                <input type="text" name="join-game" id="join-game"><br>
                <button type="submit" class="btn">Join</button>
            </form>
        </div>
        <div class="vertical-divider"></div>
        <div class="games-list">
            <div class="list-header"><h1>Open Matches</h1></div>
            <div class="list-holder">
                <ul class="rooms-list">
                    Waiting on players to create Rooms...
                </ul>
            </div>
        </div>
    </div>
        
    <div class="toast" id="toast-container">Toast</div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/index.js"></script>
</body>
</html>